# Renaud's famous first project.

### Problem statement: There is a dataset that gets pulled with some sort of frequency. We want to compare COLOR values from this table with a master mapping table, add in NUMBER values from the mapping table and create a pivot table of the results. There's one problem. Frequently, there are new values in COLOR that do not exist in the table we wish to compare.

To begin, we'll import the necessary packages. It is convention to do this at the top of every script you use.

In [9]:
import pandas as pd
import numpy as np

Let's now import our data and mapping tables. We'll then print the head or first 5 rows of each so that we know everything loaded correctly. (Note: the xlsx files have to be in the same folder as this notebook)

In [10]:
database = pd.read_excel('Initial_Database.xlsx')
mapping = pd.read_excel('Mapping_color.xlsx')

print(database.head())
print(database.head())

    Name   COLOR
0    Joe  Yellow
1    Dan     Red
2   Erin    Blue
3   Dave    Pink
4  Guzel   Green
    Name   COLOR
0    Joe  Yellow
1    Dan     Red
2   Erin    Blue
3   Dave    Pink
4  Guzel   Green

Since we're trying to compare **COLOR** values between each table, we will slice each by the column we need.

In [11]:
dbcolor = database['COLOR']
mapcolor = mapping['COLOR']

print(dbcolor)
print(mapcolor)

0    Yellow
1       Red
2      Blue
3      Pink
4     Green
5     Black
Name: COLOR, dtype: object
0    Yellow
1       Red
2      Blue
3      Pink
4     Green
Name: COLOR, dtype: object

Next comes the comparison. Pandas has a function called isin that compares whether values from one Series (our one column we sliced) are in another. We need to vary this slightly, as we're looking for the values that are *not* in the mapping table. Also, since isin returns a Series of booleans, we'll need to use it to index our dbcolor Series because we want to assign the actual values to a variable.

In [12]:
uniquevalues = dbcolor[~dbcolor.isin(mapcolor)]
print(uniquevalues)

5    Black
Name: COLOR, dtype: object

Now that we have a Series of the unique values, we can add this back into the mapping table. There's one catch. We have a Series that we need to append to a DataFrame. To do this, we need to create a DataFrame with the same columns of the mapping table.

In [13]:
newdf = pd.DataFrame(uniquevalues, columns=['COLOR','Number'])
print(newdf)

   COLOR Number
5  Black    NaN

I lied. There's another catch. Since there was no data in the Number column we just created, it filled in NaN as the value for this column. Most operations in programming do not like NaN values and pivot tables are no different. We'll take care of that by filling in an obviously not correct value of 999 for now.

In [14]:
newdf.fillna(value=999, inplace=True)
#We need the inplace=True parameter so that we're sure it fills in 999 in the exact place of our NaNs
print(newdf)

   COLOR  Number
5  Black     999

All that's left now is to append **newdf** to **mapping**. This is easy.

In [15]:
mapping = mapping.append(newdf)
print(mapping)

    COLOR  Number
0  Yellow      12
1     Red       3
2    Blue      45
3    Pink       1
4   Green      87
5   Black     999

Now that we've accounted for new values, we need to merge our **database** and **mapping** tables. The merge function in Pandas is a little more explicit than vlookup in that you need to specify a direction like you would with a SQL join.

In [16]:
merged = database.merge(mapping, how='left', on='COLOR')
print(merged)

    Name   COLOR  Number
0    Joe  Yellow      12
1    Dan     Red       3
2   Erin    Blue      45
3   Dave    Pink       1
4  Guzel   Green      87
5  Guzel   Black     999

We did it! Now our data is as we'd like so that it can be pivoted. You're probably wondering about the 999. In practice, this is a value that needs to be validated manually. Renaud can now get this value and simply update it in the mapping table and all will be well. Enough about that. Let's pivot our data.

In [17]:
pivot = pd.pivot_table(merged, index=['Name'], aggfunc=[np.sum])
#In pandas, you need to specify which operation you're pivoting with the aggfunc parameter.
#In this case, we want to sum all values so we'll use the sum function in the numpy package, hence np.sum
#Side note: If our merged dataset was more complex, we'd need to modify our pivot_table function.
print(pivot)

         sum
      Number
Name
Dan        3
Dave       1
Erin      45
Guzel   1086
Joe       12